.WelcomeBonus {
    color      : rgba(3, 46, 163, 0.9);
    font-size  : 15px;
    font-weight: 500;
}

.dropdown-content {
    overflow        : hidden;
    left            : 10px;
    top             : 55px;
    padding-top     : 4px;
    padding-bottom  : 4px;
    padding-left    : 10px;
    padding-right   : 10px;
    border-radius   : 8px;
    display         : none;
    position        : absolute;
    background-color: #f9f9f9;
    min-width       : 160px;
    height          : auto;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    z-index         : 1;

}

.dropdown-content.show {
    display: block;
}

.cont button {
    font-size      : 11;
    text-decoration: none;
    color          : #350D73;
}

.dropdown-header {
    margin-bottom: 0;
    font-size    : 14px;
    color        : #260458;
    white-space  : nowrap;
    margin-top   : 5px;
}

.dropdown-divider {
    margin-bottom: 15px;
    margin-top   : 9px;
    overflow     : hidden;
    border-top   : 1px solid #350D73;
}

.dropdown-divider2 {
    width        : 90%;
    margin-bottom: 15px;
    margin-top   : 9px;
    overflow     : hidden;
    border-top   : 1px dashed #ffffff;
}

.dropdown-item {
    display         : block;
    width           : 100%;
    padding         : 4px;
    clear           : both;
    font-weight     : 400;
    text-align      : inherit;
    white-space     : nowrap;
    background-color: transparent;
    border          : 0;
    font-size       : 13px;

}

.dropdown-item ion-icon {
    font-size    : 17px;
    margin-bottom: -4px;
    padding-top  : 5px;
}

.dropname {
    padding-left: 5px;
}

.dropdown-content ul {
    list-style: none;
    color     : #350D73;
}

.sidebar {
    align-items            : center;
    display                : none;
    position               : fixed;
    height                 : 80%;
    background             : #350D73;
    border-top-right-radius: 50px;
    bottom                 : 0;
    left                   : 0;
    width                  : 250px;
    overflow               : hidden;
    z-index                : 99999999;
    padding-left           : 9px;
    padding-top            : 15px;
    padding-right          : 10px;
    flex-direction         : column;
}

.sidebar.active {
    left   : 0;
    display: flex;
}

.SidebarHeader {
    width          : 100%;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    gap            : 5px;
}

.userimg img {
    background: #890196fd;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px;
    width: 8
    30px;
    object-fit: cover;
    height: 30px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.Sidebarname {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
}

.Sidebarname .stp {
    color        : #ffffff;
    font-weight  : 600;
    font-size    : 16px;
    margin-bottom: -4px;
}

.lv {
    font-size: 10px;
    color    : #09cfe9;
}

.Sidebar-content {
    width          : 100%;
    flex-direction : column;
    display        : flex;
    align-items    : flex-start;
    justify-content: space-between;
    gap            : 12px;
    margin-top     : 30px;
    max-height     : 420px;
    overflow-y     : auto;
    overflow-x     : hidden;
}

.dropdown-item2 {
    background-color: transparent;
    border          : none;
    display         : flex;
    align-items     : center;
    color           : #ffffff;
    font-size       : .9375rem;
    font-family     : Gantari, sans-serif;
}

.dropdown-item2 ion-icon {
    font-size: 20px;
}

.Sidebar-content button:hover {
    color        : #350D73;
    background   : #ffd900;
    padding      : 9px;
    border-radius: 9px;
    width        : 80%;
}


.sub-list {
    align-items    : flex-start;
    justify-content: center;
    display        : none;
    width          : 100%;
    padding-left   : 30px;

}

.sub-list-active {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.sub-list a {
    color          : rgb(255, 255, 255);
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
}

.sub-list a:hover {
    color        : #350D73;
    background   : #ffd900;
    padding      : 10px;
    border-radius: 9px;

}

.subp3 {
    position: relative;
}

.chevron-down {
    position  : absolute;
    left      : 170px;
    margin-top: 6px;
}
.upgrade-tt{
    width          : 100%;
    overflow       : hidden;
}
.upgrade-tt h2{
    color: #350D73;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.upgrade-tt p{
    width: 100%;
    font-size: 15px;
    padding-top: 5px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.upgrade-container {
    width          : 100%;
    display        : flex;
    justify-content: center;
    height         : auto;
    border-radius  : 7px;
    background     : #FFF;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    overflow       : hidden;

}

.table-content {
    border-radius: 7px;
    width        : 100%;
    overflow     : auto;

}

table,
th,
td {

    text-align     : center;
    border-collapse: collapse;
    padding        : 7px;
}

table {
    width: 100%;
}

thead th {
    color           : #fff;
    position        : sticky;
    top             : 0;
    background-color: #2c0666;
}

/* .body td {
 width: 200px;
    text-align: left;
        border-collapse: collapse;
        padding: 7px;
    } */
tbody tr {
    color    : #2c0666;
    font-size: 15px;
}

.body tbody tr {
    color    : #2c0666;
    font-size: 13px;
}

tbody tr:nth-child(even) {
    background-color: #4a07e62d;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 11rem;
    }
}

@media (max-width: 1000px) {
    td.nameaff:not(:first-of-type) {
        min-width : 25rem;
        text-align: left;
    }
}

.prombtn {
    padding         : 6px;
    border-radius   : 7px;
    background-color: #260458;
    color           : #FFF;
    border          : none;

}

.nameaff34 {
    font-weight    : 600;
    font-size      : 14px;
    text-align     : left;
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.nameaff34 span {
    font-weight: 400;
    font-size  : 8px;

}

.status.active {
    background-color: rgba(11, 224, 107, 0.541);
    border-radius   : 7px;
    padding-left    : 30px;
    padding-right   : 30px;
    padding-top     : 5px;
    padding-bottom  : 5px;
    color           : #2c0666;

}

.status.inactive {
    background-color: rgba(224, 11, 11, 0.541);
    border-radius   : 7px;
    padding-left    : 30px;
    padding-right   : 30px;
    padding-top     : 5px;
    padding-bottom  : 5px;
    color           : #2c0666;
}

.task12 {
    /* appearance        : none;
    -webkit-appearance: none; */
    padding: 10px;
    padding-top: 85px;
    padding-bottom: 90px;
}

.adscard {
    padding       : 10px;
    padding-top: 0;
    height: 580px;
    overflow      : hidden;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    border-radius : 7px;
    background        : white;
    border-radius     : 10px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
  
}

.adscard .thumb23 img.thumb {
    object-fit: fill;
    height: 280px;
    width: 390px;
    border-radius: 7px;
}

.adscard .adstitle {
    padding-top   : 10px;
    color         : #3a0091;
    text-align    : left;
    font-size     : 20px;
    font-weight   : 600;
    text-transform: uppercase;
}

.adscard .adscontent p {
    color             : #34027e;
    font-size         : 17px;
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;
    margin            : 1, 0px 0px;
    padding           : 0;
    font-weight: 500;
    line-height: 33px;
}

.adscontent span a {
    background-color: #390883;
    color           : #fff;
    padding         : 8px;
    border-radius   : 5px;
    text-decoration : none;
}

.adscontent span a:hover {
    background-color: #671ada;
}

.adscard .adsbutton {
    padding    : 10px;
    margin-top : 20px;
    display    : flex;
    align-items: flex-start;
    width: 100%;
    gap        : 10px;
}

.adsbutton button {
    border          : 0;
    padding         : 7px;
    background-color: #ffffff;
    border-radius   : 8px;
    border-radius   : 7px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.adsbutton button i {
    font-size: 26px;
    color: var(--tk);
}
.product-container{
    padding-top : 80px;
    padding-left: 10px;
    padding-right: 10px;
}
.addproduct {
    height          : auto;
    background-color: #fff;
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    padding         : 12px;
    border-radius   : 7px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.product-title {
    color         : #2c0666;
    font-weight   : 600;
    width         : 100%;
    padding-bottom: 20px;
}

.product-title h3 {
    display            : flex;
    font-size          : 1.5em;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0;
    font-weight        : bold;
}

.product-title p {
    display            : flex;
    font-size          : 11px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0;

}

.product-boady-add {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    width: 100%;
}

.product-boady-add form {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    gap            : 10px;
    flex-direction : column;
}

.product-name {
    width: 100%;
}

.product-name label {
    color    : #350D73;
    font-size: 14px;
}

.product-name input {
    appearance        : none;
    -webkit-appearance: none;
    padding           : 9.5px;
    border            : none;
    background        : #FFF;
    outline           : none;
    color             : #350D73;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    width             : 100%;
    padding           : 15px;
    border-radius     : 7px;
    background        : #FFF;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}


.product-name input[type="number"]:focus , .product-name input[type="amount"]:focus , .product-name.sellername input[type="text"]:focus , .product-name input[type="text"]:focus {
    border-color: #350D73;
    box-shadow  : 0 0 7px #350D73;
}

.product-name input[type="address"]::placeholder, .product-name input[type="email"]::placeholder , .product-name input[type="password"]::placeholder , .product-name input[type="amount"]::placeholder , .product-name textarea[id="productdesc"]::placeholder , .product-name input[type="number"]::placeholder , .product-name input[type="text"]::placeholder  {
    color: #360d7383;
}

.product-name input[type="text"]:required:invalid , .product-name textarea[id="productdesc"]:required:invalid {
    border-color: #ff0b0b;
}


.product-name textarea {
    appearance        : none;
    -webkit-appearance: none;
    padding           : 9.5px;
    border            : none;
    background        : #FFF;
    outline           : none;
    color             : #350D73;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    width             : 100%;
    padding           : 10px;
    border-radius     : 7px;
    background        : #FFF;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.product-name select {
    appearance        : none;
    -webkit-appearance: none;
    background        : #ffffff;
    width             : 100%;
    height            : 100%;
    outline           : none;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius     : 7px;
    padding           : 15px;
    color             : #350D73;
}
.product-name select option{
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
}
.product-name select option:hover {
    appearance: none;
    -webkit-appearance: none;
    background-color: #64008b !important;
    color           : #ffffff;
}

.product-name select option::backdrop {
    appearance: none;
    -webkit-appearance: none;
    background-color: #350D73 !important;
    color           : #fff;
}

.product-name select:focus {
    border    : 2px #430181;
    outline   : none;
    box-shadow: 0 0 4px #430181;
}

.imageUpload1 {
    overflow       : hidden;
    border         : none;
    background     : #FFF;
    outline        : none;
    color          : #350D73;
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    width          : 100%;
    border-radius  : 7px;
    background     : #FFF;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

input[type="file"] {
    display: none;
}

.imageUpload {
    width           : 100%;
    align-items     : center;
    display         : flex;
    padding         : 8px 12px;
    padding-left    : 40px;
    cursor          : pointer;
    background-color: #32006b;
    color           : white;
    border          : none;
    align-items     : center;
    border-radius   : 7px;
    font-size       : 16px;
}

.imageUpload1 ion-icon {
    font-size   : 30px;
    color       : #f9f9f9;
    margin-right: 8px;

}


.product-boady-add button {
    margin-top        : 25px;
    appearance        : none;
    -webkit-appearance: none;
    width             : 100%;
    padding           : 15px;
    border            : 0;
    border-radius     : 7px;
    background-color  : #2c0666;
    color             : #f5f5f5;
    font-size         : 17px;
}

.note {
    display        : inline-flex;
    justify-content: center;
    flex-direction : column;
    width          : 95%;
    padding        : 10px;

}

.product-bal {
    width       : 100%;
    padding-left: 15px;
}

.product-bal span {
    background-color: #0011ff1a;
    padding         : 3px 10px 3px 10px;
    border-radius   : 7px;
    font-size       : 10px;
    color           : #3f0086;
}

.note p {
    width              : 100%;
    display            : flex;
    justify-content    : center;
    text-align         : center;
    font-size          : 10px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
}

#sellername {
    background-color: #26045815;
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 51, 51, 0.39);
    z-index: 1005;
}


.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
    overflow-y: auto;
    z-index: 1006;
}

.modal-header {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgba(110, 110, 110, 0.227);
    flex-direction: column;
    background-color: #fff;
}

.modal-header h5 {
    width: 100%;
    margin-top: 35px;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.modal-body p {
    font-size: 13px;
}
.modal-body{
    padding-bottom: 50px;
}
.modal-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.modal-bottom button{
    background-color: #3a0268;
    border: none;
    outline: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
}
.modal-bottom button:hover{
    background-color: #0d0081;

}
.fade-out {
    opacity: 0; 
    transition: opacity 0.3s ease;
}s

.customer {
    text-align    : left;
    flex-direction: column;
}

.customer span {
    font-size      : 8px;
    text-decoration: none !important;
    pointer-events : none;
    cursor         : default;
}

.customer h4 {
    appearance         : none;
    -webkit-appearance : none;
    display            : flex;
    font-size          : 14px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0px;
    font-weight        : 600;
    text-decoration    : none !important;
    pointer-events     : none;
    cursor             : default;
}



.customer12 {
    flex-direction: column;
}

.customer12 span {
    font-size      : 8px;
    text-decoration: none !important;
    pointer-events : none;
    cursor         : default;
}

.customer12 h4 {
    appearance         : none;
    -webkit-appearance : none;
    display            : flex;
    font-size          : 14px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0px;
    font-weight        : 600;
    text-decoration    : none !important;
    pointer-events     : none;
    cursor             : default;
}

.aff-link{
    padding: 10px;
}
.aff-link .aff-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #FFF;
    border-radius   : 5px;
    box-shadow      : 1px 1px 4px 0px rgba(184, 12, 252, 0.082), 1px 1px 4px 0px rgba(184, 12, 252, 0.082) inset;
    padding: 10px;
}
.aff-link .aff-container .aff-title{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: #350D73;
    font-size: 13px;
    font-weight: 500;
}
.aff-link .aff-container .aff-body{
    display: flex;
    width: 100%;
}
.aff-link .aff-container .aff-body form{
    display: flex;
    align-items: center;
    width: 100%;
    margin-block-end: 0em;
    padding-top: 5px;
}
.aff-link .aff-container .aff-body form input{
    display: flex;
    width: 100%;
    padding: 7px;
    color: #350D73;
    border: none;
    background-color: transparent;
    box-shadow      : 1px 1px 4px 0px rgba(184, 12, 252, 0.11), 1px 1px 4px 0px rgba(184, 12, 252, 0.137) inset;
}
.aff-link .aff-container .aff-body form button{
    padding: 5px;
    margin-left: 7px;
    background-color: #FFF;
    border-radius   : 5px;
    box-shadow      : 1px 1px 4px 0px rgba(184, 12, 252, 0.082), 1px 1px 4px 0px rgba(184, 12, 252, 0.082) inset;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
}
.aff-link .aff-container .aff-body form button ion-icon{
    color: #350D73;
    font-size: 20px;
}


.leaderBoard {
    width           : 95%;
    background-color: #f5f5f5;
    margin-top      : 60px;
    overflow        : hidden;
    padding         : 10px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius   : 7px;
    color           : #350d73;
}

.leaderboard-header {
    padding-bottom: 20px;
}

.leaderboard-header h4 {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : bold;
    font-size          : 22px;
}

.leaderboard-header p {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-size          : 13px;
}

.leader-body {
    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 10px;
}

.custom-p2 {
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    background-color: #350d73;
    width           : 86vw;
    padding         : 10px;
    border-radius   : 8px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    color           : #f5f5f5;
    gap             : 10px;
}

.custom-content {
    display: block;
    gap    : 60px;
}

.custom-content h4 {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : bold;
    font-size          : 17px;
}

.custom-content p {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-size          : 15px;
}

.custom-image img {
    background   : #a800ebfd;
    border-radius: 50%;
    border       : 1px solid #fff;
    padding      : 3px;
    width        : 40px;
    object-fit   : cover;
    height       : 40px;
}

.cartpage {
    z-index         : 999999999999;
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : fixed;
    background-color: #300088;
    border-radius   : 9999px;
    padding         : 15px;
    color           : #f9f9f9;
    bottom          : 90px;
    right           : 20px;
    overflow        : hidden;

}

.carticon ion-icon {
    font-size: 25px;
}

.carticon span {
    position        : absolute;
    background-color: #fa2307;
    color           : #FFF;
    display         : inline-block;
    top             : 9px;
    right           : 9px;
    box-shadow      : none;
    border-radius   : 50% !important;
    padding         : 0.40em 0.4em;
    font-size       : 7px;
    font-weight     : 700;
    line-height     : 1;
    text-align      : center;
    white-space     : nowrap;
    vertical-align  : baseline;
}

/* Popup styles */
.popup {
    display         : none;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content : center;
    align-items     : center;
    z-index         : 99999;
    overflow        : hidden;

}

.popup-content {
    background-color: rgb(255, 255, 255);
    padding-right   : 20px;
    padding-left    : 10px;
    padding-top     : 20px;
    border-radius   : 5px;
    width           : 89%;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.3);
    overflow        : hidden;
    padding-bottom  : 25px;
}

/* Button styles */
.open-popup-button {
    padding         : 10px 20px;
    background-color: #007bff;
    color           : #fff;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
}

.pro-title {
    font-size    : 17px;
    color        : #350D73;
    font-weight  : 600;
    width        : 100%;
    margin-bottom: 15px;
    border-bottom: 1px #350D73 dashed;
}

.pro-content {
    height    : 72vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.pro-content h4 {
    color              : #350D73;
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 500;
    margin-top         : 15px;
    font-size          : 16px;
    padding            : 5px;
    background-color   : #360d730a;
    width              : 100%;
}

.popup-content p {
    padding-top        : 10px;
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-size          : 10.5px;
    color              : #350d73;
}

.closebtn button {
    position     : absolute;
    right        : 3;
    top          : 10;
    margin-bottom: 20px;
    background   : transparent;
    border       : 0;
}

.closebtn button ion-icon {
    font-size: 25px;
    color    : #fa2307;
}

.popup-content span {
    color           : #350D73;
    font-weight     : 600;
    font-size       : 12px;
    padding         : 6px;
    background-color: #0bb9b118;
    border-radius   : 3px;
}

.pro-ref-link button {
    border          : 0;
    background-color: #350D73;
    padding         : 10px;
    border-radius   : 7px;
    color           : #f5f5f5;
    font-size       : 15px;
    margin-top      : 10px;
}

.resell-close button {
    position        : absolute;
    right           : 3;
    top             : 10;
    background-color: transparent;
    border          : 0;
}

.resell-close button ion-icon {
    font-size: 30px;
    color    : #fa2307;
}

.pro-btn {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
}

.jvpage {
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 50px 10px 50px;
    border-color    : #350D73;
    color           : #360d73;
    font-size       : 15px;
    border-radius   : 7px;
    background-color: transparent;
}

.jvpage {
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 50px 10px 50px;
    border-color    : #350D73;
    color           : #360d73;
    font-size       : 15px;
    border-radius   : 7px;
    background-color: transparent;
}
.jvpage a{
    text-decoration: none;
}

.pro-page {
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 30px 10px 30px;
    border-color    : #350D73;
    border          : none;
    color           : #fff;
    font-size       : 15px;
    border-radius   : 7px;
    background-color: #350D73;
}
.pro-page a{
    text-decoration: none;
    color: #fff;
}
.pro-sale {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    overflow       : hidden;
    margin-top     : 10px;
}

.pro-sale-card span {
    color           : #350D73;
    font-weight     : 400;
    font-size       : 13px;
    background-color: transparent;
    border-radius   : 3px;

}

.pro-sale-card {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.pro-sale-card h2 {
    display            : flex;
    font-size          : 13px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 600;
    color              : #350D73;
}
.pro-sale-link{
    width: 100%;
    border-radius: 7px;
    background-color: #350D73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.pro-sale-link .LinkBar{
    width:100%;
    padding: 5px;
    font-size: 15px;
}
.pro-sale-link .copybtn{
    padding: 9px;
}
.pro-sale-link-23 span{
    color           : #350D73;
    font-weight     : 400;
    font-size       : 13px;
    background-color: transparent;
    border-radius   : 3px;
}
.seller-img-pro{
    border-radius: 7px;
    width: 83vw;
    padding: 10px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
  
}
.seller-img-pro h4{
    color: #350D73;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    background-color: transparent;
    width: 100%;
}
.seller-pro{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.seller-pro-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}
.seller-pro-content h2{
    display            : flex;
    font-size          : 17px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 600;
    color              : #350D73;
}
.seller-pro-content span{
    color: #350D73;
    font-weight: 400;
    font-size: 9px;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
}
.seller-img img{
    border-radius: 50%;
    border: 2px solid #46026d;
    padding: 3px;
    width: 60px;
    object-fit: cover;
    height: 60px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.profile-frame{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 63px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    overflow: hidden;
 
}
.profile-frame .profile-heard {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-self     : center;
}
.profile-body{
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;

}
.profile-body form {
    width: 97%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 9px;
}
.pro-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    padding-left: 8px;
    border-bottom: 1px #360d7311 dashed;
   
}
.pro-form span{
    color: #350D73;
    font-size: 17px;
    font-weight: 500;
    width: 30%;
}
.pro-form input{
    text-align: right;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: #350D73;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 13px;
    border-radius: 7px;
    pointer-events: none;
}
button.pro-form-btn{
    appearance: none;
    -webkit-appearance: none;
    padding: 6px 20px 6px 20px;
    font-size: 17px;
    color: #fff;
    border: 0;
    background-color: rgba(255, 0, 0, 0.623);
    border-radius: 7px;

}
.pro-form-img{
    padding-top: 20px;
}
.pro-form-img img{
    background: #890196fd;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px;
    width: 80px;
    object-fit: cover;
    height: 80px;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}
.profile-heard span{
    padding-top: 7px;
    font-size: 16px;
    color: #350D73;
    font-weight: 600;
}
.pro-pass-tittle{
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #350D73;
}
.pro-pass-tittle h4{
    font-size: 17px;
}
.pro-pass{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-pass label{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.pro-pass label span{
  color: #350D73;
  font-size: 15px;
  font-weight: 500;
}
.pro-pass label input{
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: #350D73;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}
.pro-pass label input::placeholder{
    color: #360d736c;
}
.pro-pass button.sub-pass{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 60px 10px 60px;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 20px;
    background-color: #350D73;
    color: #fff;
}
.pro-pass input:focus {
    outline: 0;
}

.pro-pass.success input {
    border-color: #09c372;
}

.pro-pass.error input:invalid {
    border-color: #ff3860;
    box-shadow: 0 07px #ff3860;
}

.pro-pass input[type="password"]:focus , .pro-pass input[type="passcode"]:focus {
    border-color: #350D73;
    box-shadow  : 0 0 7px #350D73;
}

.AdvertBanner  img , .swiper-slide img{
    width: 100%;
    object-fit: fill;
    height: 120px;
    border-radius: 10px;
}
.swiper-slide{
    flex-shrink: 0;
    width: 95%;
    padding-right: 30px;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}


.swiper .swiper-wrapper{
    height: 16vh;
    padding: 10px;
    

}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);

  }
  
  .swiper-pagination-hidden {
    opacity: 0;
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #350D73;
    opacity: 0.2;
    margin: 0px;
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #350D73;
  }
  

::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
    background: #350D73;
    color: #350D73;
}
  
  ::-webkit-scrollbar-thumb {
    background: #350D73;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #350D73;
  }
 