<%-include("../../partials/header")%>

  <div class="cent" >
    <div class="card" style="margin-top: 95px;">

<div class="swiper1">
  <div class="swiper-wrapper" >
    <div class="swiper-slide" style="padding-left: 10px;">
      <div class="affiliate-card">
        <div class="top-bar">
          <span>Direct Ref: $150,000 </span>
          <span>Indirect Ref: $150,000 </span>
        </div>
        <div class="divide"></div>
        <div class="bar-bb">
          <h3>Total Balance</h3>
          <span>$300,000</span>
        </div>
      </div>
  </div>
    <div class="swiper-slide"  style="padding-left: 10px;">
      <div class="affiliate-card">
        <div class="top-bar">
          <span>Direct Ref: $150,000 </span>
          <span>Indirect Ref: $150,000 </span>
        </div>
        <div class="divide"></div>
        <div class="bar-bb">
          <h3>Total Balance</h3>
          <span>$300,000</span>
        </div>
      </div>
    </div>
    <div class="swiper-slide"  style="padding-left: 10px; ">
      <div class="affiliate-card">
        <div class="top-bar">
          <span>Direct Ref: $150,000 </span>
          <span>Indirect Ref: $150,000 </span>
        </div>
        <div class="divide"></div>
        <div class="bar-bb">
          <h3>Total Balance</h3>
          <span>$300,000</span>
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.swiper1', {
      loop: true,
      effect: 'cards',
      centerdSlide: true,
      perSlideRotate: 4,
      slidesPerView: 'auto',
      perSlideOffset: 8,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      touch: {
        enabled: true,
      },
      on: {
        slideChange: function () {
          const activeSlide = this.slides[this.activeIndex];
          activeSlide.style.width = ''; 
        },
      },
    });
  });
</script>
    </div>
  </div>
</div>

<div class="dash-action">
  <div class="action-container">
    <div class="action-head">Quick Action</div>
    <div class="action-body">
      <div class="action-content">
        <a href="/user/task">
        <div class="action-icon"><ion-icon name="bookmark"></ion-icon></div>
        </a>
        <div class="action-name">Daily Task</div>
      </div>
      <div class="action-content">
        <a href="/user/vtu">
        <div class="action-icon"> <ion-icon name="call"></ion-icon></div>
        </a>
        <div class="action-name">VTU</div>
      </div>
      <div class="action-content">
        <a href="/user/Upgrade">
        <div class="action-icon"><ion-icon name="rocket"></ion-icon></div>
        </a>
        <div class="action-name">Upgrade</div>
      </div>
    </div>
  </div>
</div>




    <section class="Referralbar1">
    <div class="ReferralBar">
      <div class="ReferralLink">
        <h4>Referral Link:</h4>
      </div>

      <form>
        <div class="LinkBar">
            <input type="text" class="link form-control" id="copyInput" placeholder="https://127.0.192.0:3000=!?297675" value="https://127.0.192.0:3000=!?297675" readonly disabled>
        </div>
        <button type="button" class="copybtn" id="copyButton"><ion-icon name="copy-outline"></ion-icon></button>
    </form>
    </div>
  </section>



<div class="swiper" >
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="AdvertBanner">
        <img src="/image/Ads banner2.png" alt="">
      </div>
    </div>
       <div class="swiper-slide">
        <div class="AdvertBanner">
          <img src="/image/Ads banner2.png" alt="">
        </div>
    </div>
       <div class="swiper-slide">
        <div class="AdvertBanner">
        <img src="/image/Ads banner2.png" alt="">
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.swiper', {
      loop: true,
      slidesPerView: 'auto', 
      spaceBetween: 10, 
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      touch: {
        enabled: true,
      },
      on: {
        slideChange: function () {
          const activeSlide = this.slides[this.activeIndex];
          
          activeSlide.style.width = '94%'; 
        },
      },
    });
  });
</script>

  
<div class="dash-hist">
  <div class="dash-container">
    <div class="dash-head">
      <div class="dash-head-name">Recent Transaction</div>
      <div class="dash-head-name">View More</div>
    </div>
    <div class="dash-body">
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <i class="ri-bit-coin-fill"></i>
          </div>
          <div class="dash-name">
            <h2>Withdraw to wallet</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$5,000</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="gift"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Welcome Bonus</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="phone-portrait"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Airtime Purchase</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="gift"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Sponsord Ads</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="person-add"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>P2P</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>4,500 PT</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="gift"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Direct Referral</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <i class="ri-bank-fill"></i>
          </div>
          <div class="dash-name">
            <h2>Withdraw to Bank</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
     
    </div>
  </div>
</div>



  </div>


  <%-include("../../partials/sidebar")%>
  <%-include("../../partials/footer")%>