<%-include("../partials/header")%>
<!--Hero Section-->
<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-7">
                <h1 class="text-white text-3xl max-w-2xl font-extrabold text-transparent sm:text-5xl lg:leading-snug" style="font-size: 3.4rem; font-weight: 800;">Bitpluse: Facilitating Seamless Earnings for Organizations</h1>
                <p class="mt-4 max-w-2xl text-sm sm:text-lg/relaxed mb-4 text-gray-200" style="color: rgb(231, 231, 231); line-height: 30px; font-size: 20px;">Absorb knowledge, share your experiences, and watch your earnings grow. Bitpluse rewards active and engaged users, providing a unique avenue to monetize your social media presence.</p>

                <div class="hero-btn">
                    <a href="/auth/sign-up">Get Started</a>
                </div>
            </div>
            <div class="col col-4">
                <div class="hero-img"> <img src="/image/job-dashboard.png" alt="" width="90"></div>
            </div>
        </div>
    </div>
</section>
<!--End Hero Section-->

<!--Our Services-->
<section class="hero-part2">
    <div class="container-fluid justify-content-center align-content-center pt-5 flex-column pb-5">
        <div class="heading d-flex flex-column">
            <h2>Exceptional Offerings: Our Distinctive Features</h2>
            <p>Innovative features redefine standards, delivering unparalleled excellence for exceptional user experience.</p>
        </div>
        <div class="sub-hero">
            <div class="row">
                <div class="sub-hero-content">
                    <div class="title-icon"><i class="fa-solid fa-user-plus"></i></div>
                    <div class="title-text">
                       P2P Services
                    </div>
                    <p class="pro">Empowerment awaits users as they earn by registering new users using their Activities Earnings. Retaining the registration fee, rather than purchasing an activation code, presents a lucrative opportunity for financial gain within this innovative feature.</p>
                </div>
         
           
                <div class="sub-hero-content">
                    <div class="title-icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="title-text">
                        Vtu Services
                    </div>
                    <p class="pro">This feature grants exclusive weekly opportunities for non-affiliates to recharge their phones using the funds from their Activities Earnings within the vtu wallet. Additionally, affiliate users enjoy the flexibility to use the service anytime.</p>
                </div>
      
                <div class="sub-hero-content">
                    <div class="title-icon"><i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="title-text">
                       Learning
                    </div>
                    <p class="pro">Unlock high-income digital skills with this feature, granting users the chance to activate and learn through their Activities Earnings. Elevate expertise while capitalizing on the advantages provided by Activities Earnings within this innovative platform.</p>
                </div>

                <div class="sub-hero-content">
                    <div class="title-icon"><i class="fa-solid fa-shop"></i></div>
                    <div class="title-text">
                        Market Place
                    </div>
                    <p class="pro">
                        Explore boundless earning possibilities with our Market Feature! Users can effortlessly promote and earn from a wide array of digital and physical products. Unleash unlimited potential, showcasing and monetizing diverse items for unprecedented income in our dynamic marketplace.</p>
                </div>

                <div class="sub-hero-content">
                    <div class="title-icon"><i class="fa-solid fa-spinner"></i></div>
                    <div class="title-text">
                        Lucky Spinning
                    </div>
                    <p class="pro">
                        Experience the excitement of Lucky Spinning! Users can convert their activity earnings into thrilling spins for a chance to win enticing prizes. This innovative gamble feature, powered by a trusted third party, adds an element of surprise and reward to the user journey.</p>
                </div>
                <div class="sub-hero-content">
                    <div class="title-icon"><i class="fa-solid fa-briefcase"></i></div>
                    <div class="title-text">
                        Jobs/Freelance
                    </div>
                    <p class="pro">Tap into lucrative opportunities with our professional network. Connect with top companies, gaining access to high-paying digital and freelance jobs. Showcase your skills and expertise to maximize earnings and elevate your career in a dynamic and rewarding environment.</p>
                </div>
        
          </div>
        </div>
    </div>
</section>
<!--End Our Services-->

<!--Why you choose us-->
<section class="why-you-choose-us">
    <div class="container-fluid p-4 pt-5 pb-5">
        <div class="row g-2">
            <div class="col-sm-6 col-md-7">
                <img src="" alt="">
            </div>
            <div class="col-6 col-md-4">
                <div class="title-head"><h2>Why Choose Us</h2></div>
                <ul>
                    <li><i class="fa-solid fa-circle-check"></i><span>Transparency,Trustworthy & Accountability</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>An easy method for withdrawing funds from the Bitpluse platform.</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>Dynamic Features Empowering You to Promote and Profit as an Affiliate</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>Unlock Earnings Effortlessly: Dive into a Wealth of Features—No Referrals Needed!</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>Withdrawal Ease: Seamless Options of Bank Payments and Cryptocurrency on Bitpluse Platform</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>Bitpluse operates globally; activate your account online or get an activation pin from verified merchants.</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>Non affiliate user payment is 100% guarantee at Bitpluse.</span></li>
                    <li><i class="fa-solid fa-circle-check"></i><span>Earn in dollars on Bitpluse, with a 100% guaranteed payout for all users.</span></li>
                </ul>
                <div class="getstarted">
                    <a href="/auth/sign-up">Get Started Now </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End Why you choose us-->






<%-include("../partials/footer")%>