<%-include("../../partials/header2")%>

<div class="holder-card">
    <div class="holder-card-container">
    <div class="holder-body">
        <div class="holder-bal">
            <h3>Total Balance</h3>
            <span>$500,000.00</span>
        </div>
        <div class="holder-btn">
            <button>Withdraw</button>
        </div>
    </div>
</div>
</div>
<div class="seller-qk">
    <div class="seller-qk-container">
        <div class="qk-body">
            <div class="qk-content" style="--qk:#5500a5d8;">
                <div class="qk-icon"  style="--q-k:#a000dfa8; color: #fff;"><i class="fa-solid fa-money-bill-trend-up"></i></div>
                <div class="qk-name" style="color: #fff;">
                <h2>$50,000</h2>
                <span>Internal Job Balance</span>
            </div>
            </div>

            <div class="qk-content" style="--qk:#5500a5d8;">
                <div class="qk-icon"  style="--q-k:#a000dfa8; color: #fff;"><i class="fa-solid fa-money-bill-trend-up"></i></div>
                <div class="qk-name" style="color: #fff;">
                <h2>$50,000</h2>
                <span>freelancer Balance</span>
            </div>
            </div>

        </div>
    </div>
</div>
<div class="seller-qk">
    <div class="seller-qk-container">
        <div class="qk-body">
            <div class="qk-content" style="--qk:#04e0c325;">
                <div class="qk-icon"  style="--q-k:#00dfdf2a;"><i class="fa-solid fa-people-line"></i></div>
                <div class="qk-name">
                <h2> 60</h2>
                <span>Client's Hire</span>
            </div>
            </div>
            <div class="qk-content" style="--qk:#09ffff33;">
                <div class="qk-icon" style="--q-k:#0ff7ffb4;"><i class="fa-solid fa-handshake"></i></div>
                <div class="qk-name">
                <h2>110</h2>
                <span>Completed Job's</span>
                </div>
            </div>
           
            <div class="qk-content" style="--qk:#b300002a;">
                <div class="qk-icon" style="--q-k:#b3000036;"><i class="fa-solid fa-person-walking-arrow-loop-left"></i></div>
                <div class="qk-name">
                <h2>50</h2>
                <span>Application Rejected</span>
                </div>
            </div>
            <div class="qk-content" style="--qk:#03ff4f2a;">
                <div class="qk-icon" style="--q-k:#0bff7936;"><i class="fa-solid fa-money-check-dollar"></i></div>
                <div class="qk-name">
                <h2>$2,0000</h2>
                <span>Today Payout</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chart">
    <div class="chart-container">
        <div class="chart-body">
            <canvas id="jobChart"></canvas>
        </div>
    </div>
</div>


<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>