<%-include("../../partials/header2")%>

    <div class="cent1">
        <div class="seller">
            <div class="seller-container">
                <div class="seller-body">
                    <div class="seller-content">
                        <div class="balance-name">Overview Balance</div>
                        <div class="balance-sub">₦300,000.00</div>
                    </div>
                    <div class="seller-btn">
                        <button>Payout</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="seller-qk">
            <div class="seller-qk-container">
                <div class="qk-body">
                    <div class="qk-content" style="--qk:#fa080817;">
                        <h2>Number of Sales</h2>
                        <span>4,000</span>
                    </div>
                    <div class="qk-content" style="--qk:#15b3002a;">
                        <h2>Total Paid-out</h2>
                        <span>₦20,000</span>
                    </div>
                    <div class="qk-content" style="--qk:#4500b32a;">
                        <h2>Digital Product SD</h2>
                        <span>3,000</span>
                    </div>
                    <div class="qk-content" style="--qk:#0089b32a;">
                        <h2>Physical Product SD</h2>
                        <span>1,000</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="seller-transact">
            <div class="transact-head">Recent transaction</div>
            <div class="transact-container">
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$520.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
            </div>
        </div>




      

        <div class="vendor-body1">
            <div class="vendor-head">
                <span>Best top 20 selling products</span>
                <span>Swipe Left & Right</span>
            </div>
            <div class="vendor-body">
                <div class="table-content body">
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th class="nameaff" style="text-align: left;">Product &amp; Vendor</th>
                                <th style="text-align: left;">Amt/Comm</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>by Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td class="customer" style="text-align: left;">
                                    <h4>$50.50</h4>
                                    <span>50% comm</span>
                                </td>
                            </tr>
                          

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <%-include("../../partials/sidebar")%>
        <%-include("../../partials/footer")%>