<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bitpluse-design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Best Website" name="description">
    <meta content="Alphatech Multimedia Technologies" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/home/image/">

    <!--Googe Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!--Boostrap Css-->
    <link rel="stylesheet" href="home/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="home/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="home/bootstrap-5.0.2-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="home/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="home/bootstrap-5.0.2-dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="home/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css">

    <!--Fontawesome css-->
    <link rel="stylesheet" href="home/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="home/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="home/fontawesome/css/all.css">
    <link rel="stylesheet" href="home/fontawesome/css/all.min.css">

    <!--Custom css-->
    <link rel="stylesheet" href="home/css/main.css">
    <link rel="stylesheet" href="home/css/modal.css">


    <style>
        body {
            overflow-x: hidden !important;
        }
    </style>
  </head>
  <body>
    <header class="nav">
        <div class="header-container">
            <div class="header-logo"><a href="/"><strong>Bitpluse</strong></a></div>
            <div class="header-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/marketplace">Market Place</a></li>
                    <li><a href="">Job's</a></li>
                    <li><a href="">Marchant's</a></li>
                    <li><a href="">Top Earners</a></li>
                    <li><a href="">Verify</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">About Us</a></li>
                </ul>
            </div>
            <div class="auth-btn">
                <a class="login" href="#">Login</a>
                <a class="reg"  href="#">Register</a>
            </div>
        </div>
    </header>