:root {
    --primary-color  : #350D73;
    --secondary-color: #240e42;
    --thd-color      : #150a29;
    --Text-color     : #f7f7f7;
    --btn-color      : #ffb62f;
    --zip-color      : #01ff7b;
    --carbor-color   : #f80474;
    --zenvoxe-color  : #b300b3;
}

.modal .modal-dialog .modal-content {
    background-color: #1d1035;
    color           : var(--Text-color);
    display: flex;
}

.modal .modal-dialog .modal-content .modal-header {
    display       : flex;
    flex-direction: column;
    position      : relative;
}

.modal .modal-dialog .modal-content .modal-header .modal-close {
    color   : var(--Text-color);
    position: absolute;
    top     : 10;
    right   : 15px;
}

.modal .modal-dialog .modal-content .modal-header .modal-close button {
    font-size: 27px;
    background-color: transparent;
    border: 0;
    color: var(--carbor-color);
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
    margin-top: 15px;
}

.modal .modal-dialog .modal-content .modal-header .modal-title h5 {
    font-size : 15.6px;
    margin-top: 30px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.288), 1px 1px 4px 0px rgba(204, 0, 204, 0.281) inset;
    border-radius:7px ;
    padding: 3px;
    overflow: hidden;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out span.icon{
   padding-left: 15px;
   font-size: 17px;
   color: #6d24d3;
   padding-right: 10px;
  }
.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out input{
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 5px;
  outline: none;
  color: var(--carbor-color);
  font-weight: 700;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out:focus-within{
    border: 2px solid #f80474 ;
  }
.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out input::placeholder{
    color: #6d24d3;
    font-size: 12px;
  }
.modal .modal-dialog .modal-content .modal-body form .form-group span{
    font-size: 11px;
    padding-top: 6px;
   }

.modal .modal-dialog .modal-content .modal-body form .billing-info{
    display: flex;
    flex-direction: column;
    background-color: #f8047633;
    padding: 7px;
    border-radius: 7px;
   margin-bottom: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.modal .modal-dialog .modal-content .modal-body form .billing-info h4{
    font-size: 18px;
}
.modal .modal-dialog .modal-content .modal-body form .billing-info p{
    font-size: 12px;
   margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out select.form-select {
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 5px;
        color: var(--carbor-color);
        font-weight: 700;
        outline: none;
        font-size: 14px;
    
       border: none;
        border-radius: none;
        transition: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
}
  .modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out select:focus {
    outline: none;
    border: none;
  }

.modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out select.form-select option {
    font-size: 14px;
    background-color: var(--secondary-color);
    color: var(--Text-color);
  }
  .modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out select.form-select option:hover {
    color: var(--Text-color);
  }
  .modal .modal-dialog .modal-content .modal-body form .form-group .input-chech-out select.form-select option:checked {
    color: var(--Text-color);
  }
  .pro-note p{
    font-size: 12.5px;
    margin-bottom: 0;
 }
 .modal .modal-dialog .modal-content .modal-body form .amount{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    margin-bottom: 15px;
    gap: 2px;
 }
 .modal .modal-dialog .modal-content .modal-body form .amount span{
    font-size: 13px;
    color: var(--zip-color);
 }
 .modal .modal-dialog .modal-content .modal-body form .amount span.tt{
    border-bottom: 2px solid var(--Text-color);
    border-top: 2px solid var(--Text-color);
    padding: 5px;
    padding-left: 0;
 }
  .modal .modal-dialog .modal-content .modal-footer .procced {
   background-color: var(--carbor-color);
   color: var(--Text-color);
   border: none;
   outline: none;
   border-radius: 7px;
   padding: 7px;
}
.modal .modal-dialog .modal-content .modal-footer .procced:hover {
    background-color: transparent;
    color: var(--Text-color);
    border: 2px solid #f80474;
 }

 .modal .modal-dialog .modal-content .modal-footer .btn-primary:focus {
  outline: none;
 }
 .modal .modal-dialog .modal-content .modal-footer .close {
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 7px;

    background-color: transparent;
    color: var(--Text-color);
    border: 2px solid #f80474;
 }
 .modal .modal-dialog .modal-content .modal-footer .close:hover {
    background-color: var(--carbor-color);
    color: var(--Text-color);
  }
  .modal .modal-dialog .modal-content .modal-footer .close:focus {
   outline: none;
  }
  .modal .modal-dialog .modal-content .modal-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 }
 .modal .modal-dialog .modal-content .modal-body form .payment{
   gap: 15px;
   display: flex;
   flex-direction: column;
   margin-bottom: 25px;
   border-bottom: 2px dashed var(--carbor-color);
   border-top: 2px dashed var(--carbor-color);
   padding-top: 17px;
   padding-bottom: 17px;
 }
 .modal .modal-dialog .modal-content .modal-body form .payment .form-check{
    display: block;
    min-height: 0rem;
    padding-left: 0em;
    margin-bottom: 0.1rem;
 }
 .modal .modal-dialog .modal-content .modal-body form .payment .form-check input.form-check-input{
 background-color: transparent;
 display: none;
  }
  .modal .modal-dialog .modal-content .modal-body form .payment .form-check label.form-check-label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.288), 1px 1px 4px 0px rgba(204, 0, 204, 0.281) inset;
    border-radius:7px ;
    padding: 15px;
    cursor: pointer;
  }
  .modal .modal-dialog .modal-content .modal-body form .payment .form-check label.form-check-label h3{
   font-size: 13.5px;
  }
  .modal .modal-dialog .modal-content .modal-body form .payment .form-check label.form-check-label span{
    font-size: 10.5px;
   }
   .modal .modal-dialog .modal-content .modal-body form .payment .form-check input.form-check-input:checked + .form-check-label {
    border: 2px solid var(--zip-color);
    padding: 15px;
    display: inline-block;
    outline: none;
}
.custom-no-border {
    border: none !important;
    box-shadow: none !important;
  }