:root {
    --primary-color  : #350D73;
    --secondary-color: #240e42;
    --thd-color      : #150a29;
    --Text-color     : #DEDCDC;
    --btn-color      : #ffb62f;
    --zip-color      : #01ff7b;
    --carbor-color   : #f80474;
    --zenvoxe-color  : #b300b3;
}


/* Styles for Mobile screens (300px to 700px) */
@media only screen and (min-width: 300px) and (max-width: 749px) {

    header.nav {
        padding-left  : 15px;
        padding-right : 15px;
        padding-top   : 5px;
        padding-bottom: 5px;
    }

    header.nav .header-container .header-logo a img {
        object-fit: cover;
        width     : auto;
        height    : 35px;
    }

    .humber {
        display       : block;
        font-size     : 25px;
        padding-left  : 7px;
        padding-right : 7px;
        border-radius : 7px;
        box-shadow    : 1px 1px 4px 0px rgba(179, 0, 179, 0.342), 1px 1px 4px 0px rgba(204, 0, 204, 0.26) inset;
        padding-bottom: 0;
        cursor        : pointer;
    }

    body.reg{
        
        background-size: cover; 
        width: auto;
        height: 100vh;
        overflow: hidden;
      }


    header.nav .header-container .header-menu {
        display: none;
    }

    header.nav .header-container .header-menu .header-menu-header {
        display        : flex;
        justify-content: space-between;
        align-items    : end;
        width          : 100%;
    }

    header.nav .header-container .header-menu .header-menu-header span {
        font-size: 30px;
        cursor   : pointer;
        color    : var(--carbor-color);
    }

    header.nav .header-container .offcanvas {
        background-color: var(--secondary-color);
        width           : 70%;
        height          : 70%;
        border-radius   : 0 0 20px 0;
    }

    header.nav .header-container .offcanvas .header-menu {
        display       : flex;
        flex-direction: column;
    }

    header.nav .header-container .offcanvas .offcanvas-body {
        padding      : 0;
        margin-bottom: 0;
        padding-top  : 20px;
    }

    header.nav .header-container .offcanvas .offcanvas-body .header-menu .menu {
        padding      : 0px;
        width        : 100%;
        padding-left : 1.5rem;
        margin-bottom: 30px;

    }

    header.nav .header-container .offcanvas .offcanvas-body .header-menu .menu ul {
        flex-direction : column;
        justify-content: flex-start;
        align-items    : flex-start;

    }

    header.nav .header-container .offcanvas .offcanvas-body .header-menu .auth-btn {
        margin-bottom  : 0px;
        width          : 100%;
        justify-content: center;
        align-items    : center;
        display        : flex;
        padding-left   : 30px;
    }


    section.hero {
        padding-left : 0px;
        padding-right: 7px;
        padding-top  : 2.5rem;
    }

    section.hero .container-fluid .row .col h1.text-white {
        font-size: 29px !important;
    }

    section.hero .container-fluid .row {
        flex-direction: column;
        width         : 100% !important;
    }

    section.hero .container-fluid .row .col.col-7 {
        width: 100% !important;
    }

    section.hero .container-fluid .row .col p {
        font-size  : 17px !important;
        line-height: 25px !important;
    }

    section.hero .container-fluid .row .col .hero-img {
        padding-right: 0rem !important;
        padding-left : 25px;
    }

    section.hero .container-fluid .row .col .hero-img img {
        width : 400px;
        height: 50%;
    }

    .hero-btn {
        margin-top   : 30px;
        margin-bottom: 30px;
    }

    .hero-btn a {
        padding      : 10px;
        font-size    : 15px;
        padding-left : 2rem;
        padding-right: 2rem;

    }

    section.hero-part2 .container-fluid .heading h2 {
        font-size: 2em;
        width    : 100% !important;
    }

    section.hero-part2 .container-fluid .heading p {
        font-size : 15px;
        text-align: center;
    }

    section.hero-part2 .container-fluid .sub-hero {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: flex-start;
        align-items    : flex-start;
    }

    section.hero-part2 .container-fluid .sub-hero .row .sub-hero-content {
        width: 100%;
    }

    section.footer {
        padding-left : 0px;
        padding-right: 0px;
    }

    section.footer .container-fluid .row .col-4 {
        width          : 100%;
        justify-content: flex-start !important;
        align-items    : flex-start !important;
    }

    section.footer .container-fluid .row .col-4 .notice form input {
        padding: 10px;

    }

    section.footer .container-fluid .row .col-4 .notice form button {
        top: 1px;
    }

    section.footer .container-fluid .row .col-4 .notice-info a {
        font-size: 15px;
    }

    section.footer .container-fluid .row .col-4 h3 {
        font-size    : 23px;
        padding-right: 0px;
    }

    section.footer .container-fluid .row .col-4 ul {
        padding-left: 0px;
    }

    section.pages {
        padding: 20px;
    }

    section.pages .container-fluid {
        padding-top   : 25px;
        padding-bottom: 25px;
    }

    section.pages .container-fluid .page-title h2 {
        font-size: 25px;
    }

    section.pages .container-fluid .page-title p {
        font-size: 15px;
        width    : 100%;
    }

    section.top-earner {
        padding-left : 15px !important;
        padding-right: 15px !important;
    }

    section.top-earner .container-fluid .row {
        gap: 15px;
    }

    section.top-earner .container-fluid .row .col {
        width: 100% !important;
    }

    section.top-earner .container-fluid {
        padding-top: 0px;
    }

    section.top-earner .container-fluid .non-nigeria .head-title h2 {

        font-size    : 25px;
        margin-bottom: 0px;
        width        : 100%;
    }

    section.verify {
        padding-left : 10px !important;
        padding-right: 10px !important;
        padding-top  : 20px !important;
    }
    section.verify .container-fluid .verify-pin {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    section.verify .container-fluid .verify-pin .alert .status span {
        font-size: 15px;
    }
    section.verify .container-fluid .verify-pin form .form-group span.sub {
        font-size: 15px;
    }

    .card {
        width: 100% !important;


    }

    section.job-filter {
        padding      : 20px;
        padding-left : 15px;
        padding-right: 15px;
        padding-top  : 0px;

    }

    section.job {
        padding-bottom: 0 !important;
        padding-left  : 11px;
    }

    section.job .container-fluid {
        margin-bottom: 0px;
        padding-left : 0px;
        margin-top   : 20px;
    }

    section.job .container-fluid .row .col {
        padding-top: 0px;
        margin-top : 0px;
    }

    section.job .container-fluid .row .col h1 {
        font-size  : 2.5rem;
        font-weight: 800;

    }

    section.job .container-fluid .row {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;
        margin-bottom  : 0px;
        width          : 100%;
    }

    section.job .container-fluid .row .col.col-6 {
        width: 100%;

    }

    section.job .container-fluid .row .col.col-5 {
        width        : 100%;
        padding-right: 70px;
    }

    section.job .container-fluid .row .col .image {
        margin-right: 0px !important;
        padding-left: 0rem;
    }

    section.job .container-fluid .row .col .image img {
        width : 400px;
        height: 50%;

    }

    section.job .container-fluid .row .col p {
        font-size: 15px;
    }

    section.job .container-fluid .row .col form {
        padding-top: 0px;
    }

    section.job .container-fluid .row .col form .job-search button {
        font-size: 15px;

    }

    section.job .container-fluid .row .col form .job-search {
        width: 100%;
    }

    section.job .container-fluid .row .col form .job-search input {
        width       : 100%;
        padding     : 4px !important;
        padding-left: 5px;

    }

    section.job .container-fluid .row .col .job-tag {
        padding-top    : 20px;
        justify-content: flex-start;
        align-items    : center;
        gap            : 5px;
    }

    section.job .container-fluid .row .col .job-tag span {
        font-size    : 10px;
        padding      : 4px;
        margin-bottom: 10px;
    }

    section.job .container-fluid .row .col .job-tag ul {
        gap         : 5px;
        padding-top : 0px;
        padding-left: 0;
    }

    section.job .container-fluid .row .col .job-tag ul li a {
        padding  : 5px;
        font-size: 10px;
    }

    section.virtual-job .container-fluid .vt-content {
        width: 100%;
    }

    section.virtual-job .container-fluid .vt-content p {
        font-size: 0.80rem;
    }

    section.virtual-job .container-fluid .vt-content h2.vt-title {
        font-size: 1.5rem;
    }

    section.virtual-job .container-fluid .vt-content .vt-btn {
        margin-top: 10px;
    }

    section.auth {
        padding-left : 10px;
        padding-right: 10px;
    }

    section.auth .container-fluid .card {
        width : 100% !important;
        height: auto;
    }

    section.auth .container-fluid .card .card-head .refer {
        margin-top: 10px;

    }

    section.shop .shop-note p {
        font-size: 15px;
        width    : 100%;
    }

    section.shop .shop-note h2 {
        font-size: 28px;
        width    : 100%;
    }

    section.shop {
        padding-left : 15px;
        padding-right: 15px;
        padding-top  : 40px;
    }

    section.shop .searchbar form button {
        left: 275px;

    }

    section.refund {
        padding-left : 15px;
        padding-right: 15px;
    }

    section.refund .container-fluid .row .col {
        width: 100% !important;
    }

    section.promotion {
        padding-left : 20px;
        padding-right: 20px;
        height       : 70% !important;
    }

    section.promotion .container-fluid .row {
        flex-direction: column;
    }

    section.promotion .container-fluid .row .col h3 {
        font-size  : 1.8rem;
        padding-top: 0px;
    }

    section.promotion .container-fluid .row .col.lk {
        padding-left  : 10px !important;
        padding-top   : 15px !important;
        width         : 100% !important;
        padding-bottom: 30px;
    }

    section.promotion .container-fluid .row .col {
        overflow  : hidden;
        width     : 100%;
        margin-top: 10px;
    }

    section.promotion .container-fluid .row .col p {
        font-size: 15px;
    }

    section.promotion .container-fluid .row .col .pro-img {
        width     : auto;
        object-fit: fill;
    }

    section.promotion .container-fluid .row .col .pro-img img {
        object-fit: fill;
        width     : 100%;
        height    : 300px;
    }

    section.promotion .container-fluid .row .col .pro-btn {
        padding-top: 5px !important;
    }

    section.job-filter .container-fluid .job-fit {
        width: 45%;
    }

    section.digital {
        padding-left : 0px;
        padding-right: 0px;
    }

    section.digital .container-fluid .row {
        flex-direction: column;
        width         : 100%;
    }

    section.digital .container-fluid .row .col {
        width: 100%
    }

    section.digital .container-fluid .row .col h2.digital-title {
        margin-top: 10px;
        font-size : 1.5rem;
    }

    section.digital .container-fluid .row .col p {
        font-size: 1rem;
    }

    section.why-you-choose-us .container-fluid {
        padding-left : 15px !important;
        padding-right: 15px !important;
    }

    section.why-you-choose-us .container-fluid .row {
        display       : flex;
        flex-direction: column !important;
    }

    section.why-you-choose-us .container-fluid .row .col-6 {
        width: 100%
    }

    section.why-you-choose-us .container-fluid .row .col-6 .title-head h2 {
        font-size     : 2rem;
        padding-bottom: 10px;
    }

    section.why-you-choose-us .container-fluid .row .col-6 ul li span {
        font-size: 15px;
    }

    section.auth .container-fluid .card .card-head .card-logo a img {
        width     : auto;
        object-fit: fill;
    }

    section.auth .container-fluid .card .card-head .refer p {
        font-size: 14px;
    }
    .modal .modal-dialog .modal-content .seller-details {
        margin-top: 30px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    section.blog {
        padding: 30px;
        padding-left: 10px;
        padding-right:10px ;
        
    }
   
    section.why-you-choose-us .container-fluid .row .col-sm-6 .choose img{
       width: 100%;
       height: 50%;
    }
    .post{
        padding: 10px;
    }
    .post .container-fluid{
        padding: 0px;
       
    }
    .post .container-fluid .card{
        width:100%;
    }
    .post .container-fluid .card  .card-body{
        padding: 0px;
        padding-top: 10px;
      
    }
    .post .container-fluid .card  .card-body h5.card-title{
        font-size: 20px;
        text-align: center;
    }
    .post .container-fluid .card .card-body .card-text{
        margin-top: 10px;
        padding: 13px;
        font-size: 15.6px;
    }
    .post .container-fluid .card .card-footer{
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    
    }
    .post .container-fluid .card .card-footer a{
        font-size: 20px;
      }

      section.pages .container-fluid .page-title.post {
        width: 100%;
        gap: 7px;
    }
    section.pages .container-fluid .page-title h2 {
        font-size: 23px;
    }
    section.pages .container-fluid .page-title.post .card-footer {
        gap: 30px;
    }
    section.pages .container-fluid .page-title.post .card-footer .time {
        font-size: 14px;
    }
    section.pages .container-fluid .page-title.post .card-footer .name {
        font-size: 14px;
    }

    section.contact{
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    section.contact .container-fluid{
        padding: 0px;
    }
    section.contact .container-fluid .card{
        width:100% !important;
        
    }
    section.faqs{
        padding: 10px;
    }
    section.faqs .container-fluid{
        padding: 0px;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }
    section.faqs .container-fluid .accordion{
        width:100%;
    }
    section.faqs .container-fluid .accordion .accordion-item .accordion-body{
        font-size: 17px;
    }
    section.faqs .container-fluid .accordion .accordion-item .accordion-header .accordion-button{
        font-size: 17px;
        
        padding: 20px;
    }


    
    section.about-us{
        padding: 0px;
        padding-bottom: 30px;
    }
    section.about-us .container-fluid .row .col .head-text h3 {
        font-size: 2rem;

    }

    section.about-us .container-fluid .row {
        flex-direction: column;
    }

    section.about-us .container-fluid .row .col {
        width: 100% !important;
    }

    section.about-us .container-fluid .row .col p {
        font-size: 15px;
    }
    section.about-us .container-fluid .row .col .head-image img{
        height: auto;
    }

}






/* Styles for iPad screens (750px to 900px) */
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    header.nav {
        padding-left  : 15px;
        padding-right : 15px;
        padding-top   : 5px;
        padding-bottom: 5px;
    }

    header.nav .header-container .header-logo a img {
        object-fit: cover;
        width     : auto;
        height    : 35px;
    }

    .humber {
        display       : block;
        font-size     : 25px;
        padding-left  : 7px;
        padding-right : 7px;
        border-radius : 7px;
        box-shadow    : 1px 1px 4px 0px rgba(179, 0, 179, 0.342), 1px 1px 4px 0px rgba(204, 0, 204, 0.26) inset;
        padding-bottom: 0;
        cursor        : pointer;
    }


    header.nav .header-container .header-menu {
        display: none;
    }

    header.nav .header-container .header-menu .header-menu-header {
        display        : flex;
        justify-content: space-between;
        align-items    : end;
        width          : 100%;
    }

    header.nav .header-container .header-menu .header-menu-header span {
        font-size: 30px;
        cursor   : pointer;
        color    : var(--carbor-color);
    }

    header.nav .header-container .offcanvas {
        background-color: var(--secondary-color);
        width           : 60%;
        height          : 75%;
        border-radius   : 0 0 20px 0;
    }

    header.nav .header-container .offcanvas .header-menu {
        display       : flex;
        flex-direction: column;
    }

    header.nav .header-container .offcanvas .offcanvas-body {
        padding      : 0;
        margin-bottom: 0;
        padding-top  : 20px;
    }

    header.nav .header-container .offcanvas .offcanvas-body .header-menu .menu {
        padding      : 0px;
        width        : 100%;
        padding-left : 1.5rem;
        margin-bottom: 30px;

    }

    header.nav .header-container .offcanvas .offcanvas-body .header-menu .menu ul {
        flex-direction : column;
        justify-content: flex-start;
        align-items    : flex-start;

    }

    header.nav .header-container .offcanvas .offcanvas-body .header-menu .auth-btn {
        margin-bottom  : 0px;
        width          : 100%;
        justify-content: center;
        align-items    : center;
        display        : flex;
        padding-left   : 30px;
    }



    section.hero {
        display      : block;
        padding-left : 15px;
        padding-right: 15px;
        padding-top  : 3rem;
    }

    section.hero .container-fluid .row .col h1.text-white {
        font-size: 40px !important;
    }

    section.hero .container-fluid .row .col p {
        font-size: 18px !important;
    }

    section.hero .container-fluid .row .col .hero-img {
        padding-right: 45px;
    }

    section.hero .container-fluid .row .col .hero-img img {
        width : 350px;
        height: 50%;
    }

    .hero-btn {
        margin-top   : 30px;
        margin-bottom: 40px;
    }
    section.why-you-choose-us .container-fluid .row .col-sm-6 .choose img{
        width: 100%;
        height: 50%;
     }
 
    section.hero-part2 .container-fluid .heading h2 {
        font-size: 2.2rem;
        width    : 90% !important;
    }

    section.hero-part2 .container-fluid .heading p {
        font-size : 17px;
        text-align: center;
    }

    section.hero-part2 .container-fluid .sub-hero {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: flex-start;
        align-items    : flex-start;
    }

    section.hero-part2 .container-fluid .sub-hero .row .sub-hero-content {
        width  : 48%;
        padding: 2rem;
    }

    section.footer .container-fluid .row .col-4 {
        width: 48%;
    }

    section.footer .container-fluid .row .col-4 p {
        font-size: 16px;
    }

    section.footer .container-fluid .row .col-4 .country-flags a {

        font-size: 16px;

    }

    section.pages {
        padding: 20px;
    }

    section.pages .container-fluid {
        padding-top   : 30px;
        padding-bottom: 30px;
    }

    section.pages .container-fluid .page-title h2 {
        font-size: 30px;

    }

    section.pages .container-fluid .page-title p {
        font-size: 16.5px;
        width    : 90%;
    }

    section.top-earner .container-fluid .row {
        gap: 20px;
    }

    section.top-earner .container-fluid .row .col {
        width: 48% !important;
    }

    section.top-earner .container-fluid .non-nigeria .head-title h2 {

        font-size    : 35px;
        margin-bottom: 5px;
        width        : 90%;
    }

    section.verify .container-fluid .verify-pin {
        width: 90%;
    }

    .card {
        width: 100% !important;
    }

    section.job {
        padding-bottom: 0 !important;
    }

    section.job .container-fluid {
        margin-bottom: 0px;
    }

    section.job .container-fluid .row .col h1 {
        font-size  : 2.9rem;
        font-weight: 800;

    }

    section.job .container-fluid .row {
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 0px;
    }

    section.job .container-fluid .row .col.col-6 {
        width: 55%;

    }

    section.job .container-fluid .row .col.col-5 {
        width        : 45%;
        padding-right: 70px;
    }

    section.job .container-fluid .row .col .image {
        margin-right: 50px;
    }

    section.job .container-fluid .row .col .image img {
        width : 350px;
        height: 50%;

    }

    section.job .container-fluid .row .col p {
        font-size: 16px;
    }

    section.job .container-fluid .row .col form {
        padding-top: 10px;
    }

    section.job .container-fluid .row .col form .job-search button {
        font-size: 20px;

    }

    section.job .container-fluid .row .col form .job-search {
        width: 100%;
    }

    section.job .container-fluid .row .col form .job-search input {
        width       : 100%;
        padding     : 4px !important;
        padding-left: 5px;

    }

    section.job .container-fluid .row .col .job-tag {
        padding-top    : 20px;
        justify-content: flex-start;
        align-items    : center;
        gap            : 3px;
    }

    section.job .container-fluid .row .col .job-tag span {
        font-size    : 12px;
        padding      : 2px;
        margin-bottom: 10px;
    }

    section.job .container-fluid .row .col .job-tag ul {
        gap         : 5px;
        padding-top : 0px;
        padding-left: 0;
    }

    section.job .container-fluid .row .col .job-tag ul li a {
        padding  : 5px;
        font-size: 10px;
    }

    section.virtual-job .container-fluid .vt-content {
        width: 100%;
    }

    section.virtual-job .container-fluid .vt-content p {
        font-size: 1rem;
    }

    section.virtual-job .container-fluid .vt-content h2.vt-title {
        font-size: 2rem;
    }

    section.virtual-job .container-fluid .vt-content .vt-btn {
        margin-top: 10px;
    }

    section.promotion {
        padding-left : 20px;
        padding-right: 20px;

    }

    section.promotion .container-fluid .row {
        flex-direction: column;
    }

    section.promotion .container-fluid .row .col h3 {
        font-size  : 2rem;
        padding-top: 10px;
    }

    section.promotion .container-fluid .row .col p {
        font-size: 15px;
    }

    section.promotion .container-fluid .row .col.lk {
        padding-left  : 15px !important;
        padding-bottom: 30px !important;
    }

    section.promotion .container-fluid .row .col .pro-img {
        display: none;
    }

    section.auth .container-fluid .card {
        width: 80% !important;
    }

    section.refund {
        padding-left : 20px;
        padding-right: 20px;
    }

    section.refund .container-fluid .row .col {
        width  : 48% !important;
        display: block !important;
    }

    .post{
        padding: 10px;
    }
    .post .container-fluid{
        padding: 0px;
        width: 100%;
       
    }
    .post .container-fluid .card{
        width:100% !important;
    }
    .post .container-fluid .card  .card-body{
        padding: 0px;
        padding-top: 10px;
      
    }
    .post .container-fluid .card  .card-body h5.card-title{
        font-size: 25px !important;
        text-align: center;
    }
    .post .container-fluid .card .card-body .card-text{
        margin-top: 10px;
        padding: 13px;
        font-size: 15.6px;
    }
    .post .container-fluid .card .card-footer{
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    
    }
    .post .container-fluid .card .card-footer a{
        font-size: 20px;
      }

      section.pages .container-fluid .page-title.post {
        width: 100%;
        gap: 7px;
    }
    section.pages .container-fluid .page-title h2 {
        font-size: 23px;
    }
    section.pages .container-fluid .page-title.post .card-footer {
        gap: 30px;
    }
    section.pages .container-fluid .page-title.post .card-footer .time {
        font-size: 14px;
    }
    section.pages .container-fluid .page-title.post .card-footer .name {
        font-size: 14px;
    }

    section.faqs{
        padding: 15px;
    }
    section.faqs .container-fluid{
        padding: 0px;
        padding-bottom: 3rem;
        padding-top: 1rem;
    }
    section.faqs .container-fluid .accordion{
        width:100%;
    }
    section.faqs .container-fluid .accordion .accordion-item .accordion-body{
        font-size: 19px;
    }
    section.faqs .container-fluid .accordion .accordion-item .accordion-header .accordion-button{
        font-size: 19px;
        padding: 20px;
    }

}