<%-include("../../partials/header")%>

<!--Product Popud Details-->
<div class="product-details-popup" id="showDetails">
    <div class="content">
        <div class="content-title">
            <h2>Maxi42"Inches FHD Smart Tv (D2010)</h2>
        </div>
        <div class="product-discrib">
        <h3>Product Description:</h3>
        <p>The Maxi 42 Inches Smart TV D2010 comes with HDMI, USB and AV ports that aids connections of flash drives, laptops, projectors, DVDs. You get to enjoy playback of video clips that shows your childhood memories or your baby's first step in High definition by connecting your flash drive or laptop to these ports.

            The Maxi 42 Inches Smart TV D2010 allows you to enjoy content beyond regular TV channels. You can watch Netflix and use other apps on it.
            
            This television is a state of the art combination of movie theatre technology, artistic taste and modern simplicity. It is the perfect companion as it serves optimal entertainment in all ramifications.</p>
        </div>
        <div class="product-spec">
            <h3>Specifications:</h3>
            <p>SKU: MA699EA2V1ZKSNAFAMZ</p>
            <p>Weight (kg): 12</p>
            <p>Shop Type: Osun Mall</p>
            <p>Screen Size: 42″</p>
            <p>Resolution: 1920 X 1080 Pixel</p>
            <p>Color: Black</p>
            <p>ATV / DTV: Yes</p>
            <p>AV Input: Yes</p>
            <p>HDMI: 3</p>
            <p>USB: 2</p>
            <p>WIFI Function: Yes</p>
            <p>LAN Connection: Yes</p>
            <p>Wifi: Yes</p>
            <p>Head phone out: Yes</p>
            <p>Digital out: Yes</p>
            <p>Netflix – amazon prime – Online movies: Yes</p>
            <p>App store – YouTube: Yes</p>
            <p>REMOTE CONTROL</p>
        </div>

        <div class="seller-details">
            <div class="seller-info">
                <h2>Seller Details</h2>
                <div class="seller-names">
                    <div class="seller-img">
                        <img src="/image/Avater.PNG" alt="">
                    </div>
                    <div class="seller-pro-content">
                        <h2>Bitpluse Infotech</h2>
                        <span ><b>Shop Location:</b> Alexander House, Otunba Jobi Fele Way,
                            Ikeja, Lagos, Nigeria.</span>
                            <div class="seller-icon">
                                <a class="mail" href="mailto:hello@alphatechmultimedia.com"><i class="fa-solid fa-envelope"></i></a>
                                <a class="phone" href="tell:+2349129079450"><i class="fa-solid fa-square-phone"></i></a>
                                <a class="whatsapp" href="tell:+2349129079450"><i class="fa-brands fa-square-whatsapp"></i></a>
                            </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="close-btn">
            <button><span>Close</span></button>
        </div>
    </div>
</div>
<!--End Product Popud Details-->



<section class="shop">
    <div class="shop-note">
        <h2>Explore extraordinary products.</h2>
        <p>Gain access to an extensive network of physical products by showcasing and promoting your merchandise at no cost upon the activation of your account.</p>
    </div>
    <div class="searchbar">
        <form action="post">
            <input type="text" placeholder="Search Product....." required>
            <button id="submit"><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></button>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row g-3 ">
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" ></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
            <div class="col-4">
                <div class="product-img"><img src="/image/444 1.png" alt="" width="100%" height="70%"></div>
                <div class="product-name">Maxi42"Inches FHD Smart Tv (D2010) </div>
                <div class="product-details" id="openDetails">
                    <a href="#" onclick="toggleDetails()"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                <div class="seller-name">
                    <span>Posted by Zenvoxe Infotech</span>
                </div>
            </div>
        </div>
        <div class="navigation-bar">
            <div class="navi-numb"><span>Showing 1 to 20 of 21 results</span></div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>







<%-include("../../pages/shopping/chechout")%>
<%-include("../../partials/footer")%>