<%-include("../../partials/header2")%>

<section class="sky_vtutab">
<div class="Syk">
 <div class="vttv">
  <div class="VtuTab" >
    <div class="buydata active" data-tab="buyairtime">Buy Airtime</div>
    <div class="buydata" data-tab="buydata">Buy Data</div>
  </div>
 </div>

  <div class="Field active" id="buyairtime">
    <h4 class="titp">Easily recharge your phone and that your friends and family.</h4>
    <div class="Inputvtu" >
      <span class="inputsub">Phone Number:</span>
      <input type="tel" id="number" placeholder="09129079450" maxlength="13"></input>
    </div>

    <div class="Frame12573">
      <img class="network"  src="/image/download (1) 1.png" />
      <img class="network"  src="/image/download (1) 2.png" />
      <img class="network"  src="/image/download (1) 3.png" />
      <img class="network"  src="/image/download (1) 4.png" />
  </div>

  <div class="Inputvtu" >
    <span class="inputsub">Amount: </span>
    <input type="number" id="number" placeholder="₦ 1,000" maxlength="13"></input>
  </div>

  <select class="select-field">
    <option selected>Select Account to charge</option>
    <option value="bal">Act.Bal (₦5,000)</option>
    <option value="bal">Aff.Bal (₦5,000)</option>
    <option value="bal">Job.Bal (₦5,000)</option>
  </select>

  <button type="button" class="bot">Comfirm</button>

  </div>

  <div class="Field" id="buydata">
    <form action="">
    <h4 class="titp">Data is life, easily buy a data bundle for yourself and for your friends on our bank.</h4>
    <div class="Inputvtu" >
      <span class="inputsub">Phone Number: </span>
      <input type="tel" id="number" placeholder="09129079450" maxlength="13"></input>
    </div>

    <div class="Frame12573">
      <img class="network"  src="/image/download (1) 1.png" />
      <img class="network"  src="/image/download (1) 2.png" />
      <img class="network"  src="/image/download (1) 3.png" />
      <img class="network"  src="/image/download (1) 4.png" />
  </div>

  <select class="select-field">
    <option selected>Select Data Plan</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
  </select>

  <button type="button" class="bot">Comfirm</button>
</form>
  </div>
  </div>
</section>

<div class="dash-hist">
  <div class="dash-container">
    <div class="dash-head">
      <div class="dash-head-name">Recent Transaction</div>
      <div class="dash-head-name">View More</div>
    </div>
    <div class="dash-body">
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="phone-portrait"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Airtime Purchase</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$100</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="wifi"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Data Purchase</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
     
    
   
     
    </div>
  </div>
</div>
  
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>


